body{
    background-color: #0c8195;
    height: 100vh;
    overflow: hidden;
}
.row{
    margin-top: 10px;
}
.scrollable{
    height: calc(100vh - 130px);
    overflow: auto;
}
.crow{
    background-color: #0a525f;
    margin: 5px; 
    padding: 3px;
}
.map{
    margin: auto;
    width: 95%;
}
svg path {
    fill: #0a2d3b;
    stroke: #eee;
    stroke-width: .25;   
}
svg path:hover {
    fill: #dfbd69 !important;
    transition: 0.6s;
    cursor: pointer;
}

.crow:hover{
    background-color: #dfbd69 !important;
    font-weight: bold !important;
    transition: 0.6s;
    cursor: pointer;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #59a8c7;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #0e5662;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #073841;
}
