body{
    background-color: #0c8195;
    height: 100vh;
}
.forma{
    background-color: #0a2d3b;
    color: white;
    padding: 20px;
    margin-bottom: 40px;
    border-radius: 20px;
}
.form-check-label{
    font-size: medium;
}
nav, footer{
    background-color: #01171b;
}
input{
    font-family: 'Zen Kaku Gothic New', sans-serif;
    font-size: larger;
    border-style: solid;
    border-color: white;
    color: white;
    background-color: rgb(98, 110, 129);
    width: 100%;
}
label{
    float: left;
    font-family: 'Zen Kaku Gothic New', sans-serif;
    font-size: larger;
}
input::placeholder, textarea::placeholder{
    color: white;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
    background: #59a8c7;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #0e5662;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #073841;
}
.alert{
    position: absolute;
    z-index: 900;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    box-shadow: 0px 0px 10px #0a2d3b;
    width: 90%;
}
.accinfo, .ctry{
    background-color: #0a2d3b;
    color: white;
    padding: 20px;
    margin-bottom: 40px;
    border-radius: 20px;
    margin-top: 20px;
}
.flaga{
    box-shadow: 5px 5px 10px #061e27;
}
.visp{
    margin-top: 10px;
    color: black;
    font-weight: bold;
    border-radius: 5px;
    background-color: #72c376;
}
.nvisp{
    margin-top: 10px;
    border-style: solid;
    border-radius: 5px;
    border-color: #72c376;
}
.vis{
    margin-top: 10px;
    border-radius: 5px;
    background-color: #72c3766b;
}
.fvisp{
    margin-top: 10px;
    color: black;
    font-weight: bold;
    border-radius: 5px;
    background-color: #e4dc71;
}
.nfvisp{
    margin-top: 10px;
    border-style: solid;
    border-radius: 5px;
    border-color: #e4dc71;
}
.fvis{
    margin-top: 10px;
    border-radius: 5px;
    background-color: #e4dc7148;
}
.livp{
    margin-top: 10px;
    color: black;
    font-weight: bold;
    border-radius: 5px;
    background-color: #c367cf;
}
.nlivp{
    margin-top: 10px;
    border-style: solid;
    border-radius: 5px;
    border-color: #c367cf;
}
.liv{
    margin-top: 10px;
    border-radius: 5px;
    background-color: #c367cf59;
}
