{% extends "base.html" %}
{% block content %}
<div class="container accinfo">
    <div class="row justify-content-center mt-2">
        <!-- Page Logo -->
        <img class="account-img" id="travelbuddy" src="../static/logowhole.jpeg">
    </div>
    <div class="row justify-content-center mt-2">
        <!-- App title -->
        <h1 class="account-heading display-3 text-center">Travel Buddy</h1>
    </div>
    <div class="row">
        <!-- App description -->
        <p class="text-justify ml-5 mr-5 mt-4 justify-content-left">The purpose of the Travel Buddy web application is to connect people who want to travel around Europe together and provide them with a checklist of countries they have previously visited or countries that they want to visit. Users of this web application can see who has already visited the country that they personally want to visit, and send them an email with questions about their destination.</p><br>
        <p class="text-justify ml-5 mr-5">To use the application, go to the map section and choose a country of interest. When registered and logged in, you can add a country to your bucket list and see who also wants to visit the same country!</p><br>
        <p class="text-justify ml-5 mr-5 text-left">Contact: sc20kr@leeds.ac.uk</p>
    </div>
    </div>
    
<div class="row">
</div>
{% endblock content %}