{% extends "base.html" %}
{% block content %}
<div class="container accinfo">
    <div class="row justify-content-center mt-2">
        <img class="account-img" id="travelbuddy" src="../static/logowhole.jpeg">
    </div>
    <div class="row justify-content-center mt-2">
        <h1 class="account-heading display-3">Travel Buddy</h1>
    </div>
    <div class="row justify-content-center">
        <p>Travel Buddy is a website for people who like to travel all a</p>
    </div>

    
<div class="row">
</div>
{% endblock content %}