{% extends "base.html" %}
{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
    {% for message in messages %}
    <li>{{ message }} </li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
<div class="container-fluid">
    <div class="row justify-content-center pt-2 mt-2">
        <div class="col col-xl-4 col-lg-7 col-md-9 col-sm-12 pt-3 pb-3 bg-info addTask">
            <h1>Add New Task</h1>
        </div>
    </div>
    <div class="row justify-content-center mb-5">
        <div class="col col-xl-4 col-lg-7 col-md-9 col-sm-12 bg-info pb-3">
        <form action="" method="post" name="addTask" class="addTask">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.moduleCode.label(class_='checkbox-inline') }}
                {{ form.moduleCode(placeholder="COMP####",id="module") }}<br>
                {% for error in form.moduleCode.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}<br>
            </div>
            <div class="form-group">
                {{ form.title.label(class_='checkbox-inline') }}
                {{ form.title(placeholder="Title") }}<br>
                {% for error in form.title.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}<br>
            </div>
            <div class="form-group">
                {{ form.description.label(class_='checkbox-inline') }}
                {{ form.description(placeholder="Description") }}<br>
                {% for error in form.description.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}<br>
            </div>
            <div class="form-group">
                {{ form.deadline.label(class_='checkbox-inline') }}
                {{ form.deadline }}<br>
                {% for error in form.deadline.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}<br>
            </div>
            <div class="form-group form-check">
                <div class="form-check-inline">
                {{ form.isDone(class='form-check-input doneCheck') }}
                {{ form.isDone.label(class='form-check-label') }}
            </div>
                <br>
                {% for error in form.isDone.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}<br>
            </div>
            <button type="submit" class="btn btn-outline-light btn-lg">Add Task</button>
        </form>
    </div>
    </div>
</div>
{% endblock %}