<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Add bootstrap, stylesheet, googlefonts, scripts, and icons links -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="../static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/favicon-16x16.png">
    <script src="https://kit.fontawesome.com/4f97abcc8e.js" crossorigin="anonymous"></script>

    <!-- Cookie consent form -->
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
    <script type="text/javascript" src="../static/scripts/cookies.js"></script>

    <!-- Check for the title variable and ,if present, change the page title -->
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>No title</title>
    {% endif %}
</head>

<body>
    <!-- Navbar component from bootstrap with logo and links to other pages -->
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="/"><img src="../static/logo.png" width="100" height="50" alt="Uni Check List logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <!-- Display different navbar depending on the user -->
                <a class="nav-item nav-link active" href="/">Map<span class="sr-only"></span></a>
                <a class="nav-item nav-link" href="{{url_for('about')}}">About</a>
                {% if current_user.is_authenticated %}                    
                    {% if current_user.isAdmin %}
                        <a class="nav-item nav-link" href="/admin">Admin</a>
                    {% endif %}

                    <a class="nav-item nav-link" href="{{url_for('account')}}">Account</a>
                    <a class="nav-item nav-link" href="{{url_for('logout')}}">Logout</a>
                {% else %}
                    <a class="nav-item nav-link" href="{{url_for('login')}}">Sign In</a>
                    <a class="nav-item nav-link" href="{{url_for('register')}}">Sign Up</a>
                {% endif %}
            </div>
        </div>
    </nav>

    <!-- Content from the different pages -->
    <div>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <!-- Display alerts -->
            {% for category, message in messages %}
                <div class="alert alert-{{category}} alert-dismissible fade show">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span> 
                </div>
            {% endfor %}
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </div>

    <!-- Bottom fixed footer -->
    <footer class="mt-auto py-1 fixed-bottom text-center">
        <div class="container">
          <span class="text-muted">COMP2011 Coursework2 sc20kr</span>
        </div>
    </footer>

    <!-- Sources needed for the bootstrap to work -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
</body>

</html>