{% extends "base.html" %}
{% block content %}
<script src="../static/scripts/list.js"></script>
<div class="container accinfo">
    <div class="row justify-content-center mt-2">
        <img class="rounded-circle account-img" src="{{imageFile}}">
    </div>
    <div class="row justify-content-center mt-2">
        <h1 class="account-heading display-3">{{u.name}}</h1>
    </div>
    <div class="row justify-content-center">
        <h3 class="account-heading">@{{u.username}}</h3>
    </div>
    <div class="row justify-content-center">
        <p class="text-secondary">{{u.email}}</p>
    </div>

    <div class="row justify-content-center mt-5 mb-5">
        <div class="col-md-3 col-sm-12 mb-1">
            <div class="row pl-2 pt-1 visp">
                <h4>Visited:</h4>
            </div>
            {% for v in u.visitedCountries %}
            <div class="row vis pl-2 pt-1 rgreen place" id="{{v.name}}">
                <h4>{{v.name}}</h4>
            </div>
            {% endfor %}
        </div>

        <div class="col-md-3 col-sm-12 offset-md-1 mb-1">
            <div class="row pl-2 pt-1 fvisp">
                <h4>Bucket List:</h4>
            </div>
            {% for b in u.bucketList %}
            <div class="row fvis pl-2 pt-1 ryellow place" id="{{b.name}}">
                <h4>{{b.name}}</h4>
            </div>
            {% endfor %}
        </div>

        <div class="col-md-3 col-sm-12 offset-md-1 mb-1">
            <div class="row pl-2 pt-1 livp">
                <h4>Lives In:</h4>
            </div>
            {% if u.livesin %}
            <div class="row liv pl-2 pt-1 rpurple place" id="{{u.livesin.name}}">
                <h4>{{u.livesin.name}}</h4>
            </div>
            {% endif %}
        </div>
    </div>
</div>
<div class="row">
</div>
{% endblock content %}